@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root{
  --gray:#f5f5f5;
  --navy:#000080;
  --aqua:#00FFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  /*border: 1px solid black;*/
}

/* header */
.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5vh 0;
  font-size: 2rem;
  font-weight: 400;
}
.input-container{
  display: flex;
  align-items: center;
  padding: 1vh 1vw;
  border-radius: 3vh;
  border: 1px solid ;
}
.location-input{
  padding: 1vh 0;
  text-align: center;
  border: none;
  outline: none;
}
.input-btn{
  background: transparent;
  padding-top: .3vh;
  cursor: pointer;
  border: none;
}

/* day summary containers */
.city-name{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 3;
  font-size: 1.5rem;
}
.days-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1vh 0;
}
.day-container{
  width: 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1vh;
  border-radius: 3vh;
  padding-bottom: 1vh;
}
.day-title, .day-condition{
  grid-column: 1 / span 2;
  text-align: center;
}
.temp-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day-temp{
  flex: 1;
}
.min-temp, .max-temp{
  display: flex;
  justify-content: center;
  font-size: .8rem;
  width: 3vw;
}
.max-temp{
  align-items: end;
}
.min-temp{
  align-items:baseline;
  border-top: 1px solid black;
}
.day-icon{
  width: 100%;
}
.day-title{
  padding: 1vh 0;
  border-radius: 1vh;
}

/* hour slide */
.slider-container, .all-days-cols, .day-hour-cols{
  display: flex;
}
.slider-container{
  width: 90vw;
  margin: 5vh 5vw;
}
.hour-labels-container{
  height: 100%;
  position: relative;
  margin-top: 3vh;
  width: 150px;
  min-width: 100px;
}
.all-days-cols{
  margin-bottom: 1vh;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

/* hour containers */
.small-result, .small-label{
  height: 3vh;
}
.big-result, .big-label{
  height: 6vh;
}
.multi-label{
  height: 9vh;
}
.icon-result{
  display: block;
}
.big-result, .small-result, .small-label, .multi-label, .big-label{
  display: flex;
  align-items: center;
}
.big-result, .small-result{
  justify-content: center;
}
.multi-label, .big-label{
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.measurement-label{
  font-size: .7rem;
}
.sun-icon{
  border: none;
  color: rgb(255, 170, 0);
}
.midnight-col{
  border-left: 3px solid navy;
}
.date-row{
  height: 3vh;
}
.small-label, .big-label, .multi-label, .big-result, .small-result{
  padding: 0 .2vw;
}
/* colour scheme */

.header-container, .day-title, .small-label, .big-label, .multi-label{
  background: var(--navy);
  color: white;
}
.day-container{
  background: var(--gray);
}
.input-container{
  background: white;
}
.big-label, .multi-label, .small-label{
  border: .5px solid white;
}
.big-result, .gust-result{
  background: var(--gray);
}
.sun-result, .percip-result, .temp-result{
  border-top: 1px solid var(--navy);
  border-bottom: 1px solid var(--navy);

}
