*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

/* header */
.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-container{
  display: flex;
  align-items: center;
  padding: 1vh 1vw;
  border-radius: 3vh;
}
.location-input{
  padding: 1vh 0;
  text-align: center;
  border: none;
  outline: none;
}
.input-btn{
  background: transparent;
  padding-top: .3vh;
  cursor: pointer;
  border: none;
}

/* top containers */
.city-name{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 3;
}
.days-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.day-container{
  width: 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.day-title, .day-condition{
  grid-column: 1 / span 2;
  text-align: center;
}
.temp-container{
  display: flex;
  flex-direction: column;
}
.day-temp{
  flex: 1;
}
.min-temp, .max-temp{
  display: flex;
  justify-content: center;
  font-size: .8rem;
}
.max-temp{
  align-items: end;
}
.min-temp{
  align-items:baseline;
  border-top: 1px solid black;
}
.day-icon{
  width: 100%;
}

/* hour slide */
.all-hours-container{
  display: flex;
}
.hour-time, .time-label, .hour-text, .hour-label, .measurement-label{
  height: 3vh;
}
.hour-icon, .icon-label, .hour-wind, .hour-percip{
  height: 6vh;
}
.hour-icon{
  display: block;
}
.hour-time, .time-label, .hour-text, .hour-label, .measurement-label, .hour-icon, .icon-label, .hour-wind, .hour-percip{
  display: flex;
  align-items: center;
}
.hour-time, .hour-text, .hour-icon, .hour-percip, .hour-wind{
  justify-content: center;
}
.time-label, .hour-label, .icon-label, .measurement-label{
  padding-right: .5vw;
  padding-left: .2vw;
}
.measurement-label{
  font-size: .8rem;
}
.sun-icon{
  border: none;
  color: rgb(255, 170, 0);
}